@import '../app/app'

.button
    cursor: pointer
    padding: 16.5px 15px
    color: $white
    background: radial-gradient(5422.06% 1119.76% at 0% 288.54%, #3C8291 0%, #00B5AD 100%)
    font-size: 15px
    font-weight: 500
    border: none
    border-radius: 6px
    outline: none
    display: flex
    align-items: center
    justify-content: center
    min-width: 140px

    &--arrow::after
        content: url('arrow.svg')
        margin-left: 7px
        position: relative
        top: 2px

    &:hover,&:focus
        background: linear-gradient(90.26deg, #00B5AD -75.74%, #5F3264 87.41%)

    &:disabled
        color: $grey
        background: $lightgrey      
        
    &--arrow:disabled::after
        content: url('arrow--grey.svg')  