@import '../app/app'
    
.form
    display: grid
    grid-template-columns: 48% 48%
    gap: 20px
    width: 100%
    min-height: 300px
    padding: 45px
    background-color: $white
    text-align-last: left

    &__about
        margin-bottom: 15px

    &__forgot
        cursor: pointer

    &__info
        min-height: 130px
        grid-column: auto / span 2
        font-size: 1.2em
        line-height: 1.4
        text-align: left

    &__heading
        display: block
        width: 200px
        margin: 30px auto 60px
        font-size: 1.75em

    &--ready
        display: block
        text-align: center

        button
            margin: 0 auto

@media screen and (max-width: 500px)
    .form
        padding: 35px 15px 15px
        grid-template-columns: 100%

        &__info
            grid-column: auto

