@import '../app/app'
    
.form
    background-color: $white
    width: 100%
    padding: 45px
    text-align-last: left
    display: grid
    grid-template-columns: 48% 48%
    gap: 20px
    min-height: 300px

    &__about
        margin-bottom: 15px

    &__buttons
        width: 100%
        border-top: 1px solid $lightgrey
        padding: 25px 30px 0 30px
        display: flex;
        justify-content: space-between;

    &__forgot
        cursor: pointer

    p
        grid-column: auto / span 2
        text-align: left
        min-height: 130px

    &--ready
        display: block
        text-align: center

        h2
            display: block
            width: 200px
            margin: 30px auto 60px

        button
            margin: 0 auto

@media screen and (max-width: 500px)
    .form
        padding: 35px 15px 15px
        grid-template-columns: 100%

        p
            grid-column: auto

